// color
$green = #136F63
$lightGreen = #E7F1EF
$black = #000
$blackTransparent = rgba(0, 0, 0, .5)
$white = #FFF
$whiteTransparent = rgba(255, 255, 255, .5)
$whiteTransparent2 = rgba(255, 255, 255, .15)
$gray = #888
$alabaster = #F6F5ED

// ui
$text = $black
$textMuted = $gray
$textContrast = $white
$textContrastMuted = $whiteTransparent

$bg = $alabaster

$primary = $green
$secondary = $black

// size
$desktop-large = 1279px
$desktop = 1023px
$tablet = 767px
$phone = 639px
$phone-small = 479px

// z-index
$zindex-fixed = 1000
